.env

artifacts/
cache/
coverage/
node_modules/
typechain-types/

docs/
foundry/
./*.md
foundry.toml
pyproject.toml

test/*
!test/common
!test/deploy
!test/hooks
!test/integration
!test/suite

deployed-*.json
upgrade-parameters-mainnet.json

.husky/
.github/

.idea/
.vscode/
.yarn/
