export DEPLOYER=0x123...
export LOCAL_DEVNET_PK=0x...

export LOCAL_RPC_URL=http://rpc123.testnet.fi
# helps for devnet links
export BLOCK_EXPLORER_BASE_URL=http://blockscout123.testnet.fi/

export NETWORK_STATE_FILE="deployed-devnet.json"
export UPGRADE_PARAMETERS_FILE="scripts/upgrade/upgrade-params-devnet.toml"

export GAS_PRIORITY_FEE=1
export GAS_MAX_FEE=100

export SKIP_INTERFACES_CHECK=1
export SKIP_LINT_SOLIDITY=1
export SKIP_GAS_REPORT=1
export SKIP_CONTRACT_SIZE=1
export LOG_LEVEL=debug
