DEPLOYER=0x123...
RPC_URL=https://url

# in case of deploying on local devnet
#LOCAL_RPC_URL=http://rpc123.testnet.fi
#BLOCK_EXPLORER_BASE_URL=http://blockscout123.testnet.fi/

NETWORK_STATE_FILE="deployed-mainner.json"
UPGRADE_PARAMETERS_FILE="scripts/upgrade/upgrade-params-mainner.toml"

GAS_PRIORITY_FEE=1
GAS_MAX_FEE=100

SKIP_INTERFACES_CHECK=1
SKIP_LINT_SOLIDITY=1
SKIP_GAS_REPORT=1
SKIP_CONTRACT_SIZE=1
LOG_LEVEL=debug
