.idea/
.yarn/
.vscode/
.cursor/
.claude/
.codex/

node_modules/
coverage/
state-mate/

coverage.json
localhost.json

typechain/
typechain-types/

# Hardhat files
cache/
artifacts/

# Extracted ABI files
lib/abi/*.json

.env
.env.*
!.env.example
!.env.*.example
accounts.json
deployed-local.json
deployed-local-devnet.json
deployed-default.json
deployed-*-upgrade.json
**/upgrade-params-local.toml
**/upgrade-params-default.toml
**/upgrade-params-*-upgrade.toml

# MacOS
.DS_Store

# Dev dirs
.local/
.tmp/
.dev/
