[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/lib/dual-governance"]
	path = foundry/lib/dual-governance
	url = https://github.com/lidofinance/dual-governance
