[profile.default]
# The source directory
src = 'contracts'

# The artifact directory
out = 'foundry/out'

# A list of paths to look for libraries in
libs = ['node_modules', 'foundry/lib']

# The test directory
test = 'test'

# Whether to cache builds or not
cache = true

# The cache directory if enabled
cache_path = 'foundry/cache'

# Only run tests in contracts matching the specified glob pattern
match_path = '**/test/**/*.t.sol'

# Enable latest EVM features
evm_version = "prague"

# https://book.getfoundry.sh/reference/config/testing#fuzz
# fuzz = { runs = 256 }
# https://book.getfoundry.sh/reference/config/testing#invariant
# invariant = { runs = 256, depth = 15 }

# Fails the invariant fuzzing if a revert occurs
# fail_on_revert = true

fmt = { int_types = 'long' }

# add via_ir profile
additional_compiler_profiles = [
    { name = "v3", version = "0.8.25", optimizer = true, optimizer_runs = 200, via_ir = true, evm_version = "cancun" },
    { name = "vaultHub", version = "0.8.25", optimizer = true, optimizer_runs = 100, via_ir = true, evm_version = "cancun" },
]

# enforce compiling 0.8.25 contract with via_ir
compilation_restrictions = [
    { paths = "contracts/0.8.25/**", optimizer_runs = 200, via_ir = true },
    { paths = "contracts/0.8.25/vaults/VaultHub.sol", optimizer_runs = 100, via_ir = true },
    { paths = "contracts/upgrade/**", optimizer_runs = 200, via_ir = true },
]
