name: Integration Tests On Upgrade
# For local testing of this scenario use ./scripts/dao-upgrade-and-test-on-fork.sh

on: [push]

jobs:
  test_hardhat_integration_fork:
    name: Hardhat / Mainnet
    runs-on: ubuntu-latest
    timeout-minutes: 120

    services:
      hardhat-node:
        image: ghcr.io/lidofinance/hardhat-node:2.22.19.3
        ports:
          - 8555:8545
        env:
          ETH_RPC_URL: "${{ secrets.ETH_RPC_URL }}"
          DONT_SET_CHAIN_ID: true

    steps:
      - uses: actions/checkout@v4

      - name: Common setup
        uses: ./.github/workflows/setup

      - name: Prepare network state file
        run: cp deployed-mainnet.json deployed-mainnet-upgrade.json

      - name: Run upgrade
        run: yarn upgrade:deploy
        env:
          RPC_URL: http://localhost:8555
          DEPLOYER: "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266" # first acc of default mnemonic "test test ..."
          GAS_PRIORITY_FEE: 1
          GAS_MAX_FEE: 100
          NETWORK_STATE_FILE: deployed-mainnet-upgrade.json

      - name: Mock Aragon voting
        run: yarn upgrade:mock-voting
        env:
          RPC_URL: http://localhost:8555
          NETWORK_STATE_FILE: deployed-mainnet-upgrade.json

      - name: Finalize scratch deployment
        run: yarn hardhat --network local run --no-compile scripts/utils/mine.ts
        env:
          RPC_URL: http://localhost:8555

      - name: Run integration tests
        run: yarn test:integration
        env:
          LOG_LEVEL: debug
          RPC_URL: http://localhost:8555
          NETWORK_STATE_FILE: deployed-mainnet-upgrade.json
