name: Integration Tests

on:
  push:
  schedule:
    - cron: "0 10 */2 * *"

jobs:
  test_hardhat_integration_fork:
    name: Hardhat / Mainnet
    runs-on: ubuntu-latest
    timeout-minutes: 120

    services:
      hardhat-node:
        image: ghcr.io/lidofinance/hardhat-node:2.24.3
        ports:
          - 8545:8545
        env:
          ETH_RPC_URL: "${{ secrets.ETH_RPC_URL }}"
          HARDFORK: "prague"

    steps:
      - uses: actions/checkout@v4

      - name: Common setup
        uses: ./.github/workflows/setup

      - name: Run integration tests
        run: yarn test:integration:fork:mainnet
        env:
          RPC_URL: http://localhost:8545
