name: Verify State

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "develop"
  schedule:
    - cron: "0 0 * * *" # runs every day at midnight UTC

jobs:
  run_state_mate_hoodi:
    name: Hoodi State
    runs-on: ubuntu-latest
    timeout-minutes: 120
    env:
      STATE_MATE_BRANCH: "main"
      HOODI_REMOTE_RPC_URL: "https://hoodi.drpc.org"

    steps:
      - name: Checkout state-mate
        uses: actions/checkout@v4
        with:
          repository: lidofinance/state-mate
          ref: ${{ env.STATE_MATE_BRANCH }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Run state-mate (V3 Hoodi Testnet)
        run: yarn start configs/lidov3/hoodi/lidov3-testnet.yaml

      - name: Run state-mate (V3 Hoodi Easy Track)
        run: yarn start configs/lidov3/hoodi/lidov3-et-testnet.yml

  run_state_mate_mainnet:
    name: Mainnet State
    runs-on: ubuntu-latest
    timeout-minutes: 120
    env:
      STATE_MATE_BRANCH: "main"
      MAINNET_REMOTE_RPC_URL: "https://eth.drpc.org"

    steps:
      - name: Checkout state-mate
        uses: actions/checkout@v4
        with:
          repository: lidofinance/state-mate
          ref: ${{ env.STATE_MATE_BRANCH }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Run state-mate (V3 Mainnet)
        run: yarn start configs/lidov3/mainnet/lidov3-core-post-vote.yaml

      - name: Run state-mate (V3 Mainnet Easy Track)
        run: yarn start configs/lidov3/mainnet/lidov3-et-post-vote.yml
